body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  width: 100%;
  font-family: Arial;
  font-weight: 400;
  background: rgb(255, 255, 255);
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
a:not(.btn):hover {
  text-decoration: underline;
}
input,
select,
textarea,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}
main {
  overflow: hidden;
}
u > span {
  text-decoration: inherit;
}
ol,
ul {
  padding-left: 2.5rem;
  margin: 0.625rem 0;
}
p {
  word-wrap: break-word;
}
h1 > span,
h2 > span,
h3 > span,
h4 > span,
h5 > span,
h6 > span {
  display: block;
  word-wrap: break-word;
}
iframe {
  border: 0;
}
* {
  box-sizing: border-box;
}
:root.js-text-scaling {
  --mobile-font-size: 4vw;
  --default-font-size: 16px;
}
.item-absolute {
  position: absolute;
}
.item-relative {
  position: relative;
}
.item-block {
  display: block;
  height: 100%;
  width: 100%;
}
.item-cover {
  z-index: 1000030;
}
.item-breakword {
  word-wrap: break-word;
}
.item-content-box {
  box-sizing: content-box;
}
.hidden {
  display: none;
}
.clearfix {
  clear: both;
}
sup {
  margin-left: 0.1rem;
  line-height: 0;
}
@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
}
@supports (-webkit-overflow-scrolling: touch) {
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .image[src$=".svg"] {
      width: calc(100% + 1px);
    }
  }
}
.show-for-sr {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 8px;
  background-color: transparent;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  box-shadow: none;
  border-radius: 8px;
  background-color: rgba(183, 197, 212, 0.7);
}
::-webkit-scrollbar-corner {
  background-color: rgba(183, 197, 212, 0.7);
}
.headline {
  font-family: Arial;
  font-weight: 700;
}
.section-fit {
  max-width: 400px;
}
:root {
  --section-relative-margin: 0 auto;
}
.section-relative {
  position: relative;
  margin: 0 auto;
}
.js-text-scaling .section-relative {
  margin: var(--section-relative-margin);
}
.section-inner {
  height: 100%;
}
#page-block-8ebj5wxjmle {
  height: 85.1875rem;
  max-width: 100%;
}
#page-block-8ebj5wxjmle .section-holder-border {
  border: 0;
}
#page-block-8ebj5wxjmle .section-block {
  background: url("images/57983001-0-background-banner.jpg") repeat
    rgb(19, 19, 19) 50% 50% / cover;
  height: 85.1875rem;
}
#page-block-8ebj5wxjmle .section-holder-overlay {
  opacity: 0.68;
  background-color: #000000;
  display: block;
}
#element-99 {
  top: 3.375rem;
  left: 1.1875rem;
  height: 1.7rem;
  width: 8.5rem;
  z-index: 41;
}
#element-99 .cropped {
  background: url("images/57983061-0-clevrsuntext.white..png") 0 0 / 8.5625rem
    1.9375rem;
}
#element-113 {
  top: 25.6875rem;
  left: 1rem;
  height: 13.9375rem;
  width: 22.5rem;
  z-index: 42;
}
.full-size {
  width: 100%;
  height: 100%;
}
.html-widget__text-center {
  text-align: center;
}
#element-5 {
  top: 9.6875rem;
  left: 1.25rem;
  height: 1.0625rem;
  width: 22.4375rem;
  z-index: 4;
  color: #37465a;
  font-size: 0.743rem;
  line-height: 1.05rem;
  text-align: left;
}
#element-5 .x_3206b8d5 {
  text-align: left;
  line-height: 1.0625rem;
  font-size: 0.743rem;
}
#element-5 .x_e6c99e4f {
  color: #f9d84c;
}
#element-9 {
  top: 27.5625rem;
  left: 3.75rem;
  height: 1.25rem;
  width: 17.5rem;
  z-index: 7;
  color: #37465a;
  font-size: 1.2384rem;
  line-height: 1.25rem;
  text-align: center;
}
#element-9 .x_12f16b9a {
  text-align: center;
  line-height: 1.25rem;
  font-size: 1.2384rem;
}
#element-9 .x_e33f2b34 {
  color: #181b31;
}
#element-6 {
  top: 11.25rem;
  left: 1.25rem;
  height: 4.5rem;
  width: 22.4375rem;
  z-index: 3;
  color: #37465a;
  font-size: 1.6099rem;
  line-height: 2.275rem;
  text-align: left;
}
#element-6 .x_e0654353 {
  text-align: left;
  line-height: 2.25rem;
  font-size: 1.6099rem;
}
#element-6 .x_f2074b6c {
  color: #ffffff;
}
#element-7 {
  top: 17rem;
  left: 1.25rem;
  height: 6.5rem;
  width: 22.4375rem;
  z-index: 5;
  color: #37465a;
  font-size: 0.9907rem;
  line-height: 1.6rem;
  text-align: left;
}
#element-7 .x_fae6260b {
  text-align: left;
  line-height: 1.625rem;
  font-size: 0.9907rem;
}
#element-7 .x_f2074b6c {
  color: #ffffff;
}
#page-block-5gsgppva3tn {
  height: 99.1875rem;
  max-width: 100%;
}
#page-block-5gsgppva3tn .section-holder-border {
  border: 0;
}
#page-block-5gsgppva3tn .section-block {
  background: url(images/57983786-0-sun-background.jpg) repeat rgb(249, 216, 76)
    50% 50% / cover;
  height: 99.1875rem;
}
#page-block-5gsgppva3tn .section-holder-overlay {
  opacity: 0.89;
  background-color: #f9d84c;
  display: block;
}
#element-29 {
  top: 21.375rem;
  left: 1.0625rem;
  height: 4.5rem;
  width: 22.5rem;
  z-index: 6;
  color: #37465a;
  font-size: 1.6099rem;
  line-height: 2.275rem;
  text-align: center;
}
#element-29 .x_47b745f5 {
  text-align: center;
  line-height: 2.25rem;
  font-size: 1.6099rem;
}
#element-29 .x_7b2817bf {
  color: #000000;
}
#element-34 {
  top: 30.5625rem;
  left: 9.25rem;
  height: 6.1875rem;
  width: 6.1875rem;
  z-index: 9;
}
.circle {
  border-radius: 50%;
}
.shape {
  height: inherit;
}
.line-horizontal {
  height: 0.625rem;
}
.line-vertical {
  height: 100%;
  margin-right: 0.625rem;
}
[class*="line-"] {
  box-sizing: content-box;
}
#element-34 .shape {
  border: 0;
  background: rgb(30, 30, 30);
}
#element-26 {
  top: 52.375rem;
  left: 9.1875rem;
  height: 6.25rem;
  width: 6.25rem;
  z-index: 15;
}
#element-26 .shape {
  border: 0;
  background: rgb(30, 30, 30);
}
#element-49 {
  top: 53.5625rem;
  left: 10.125rem;
  height: 4.3744rem;
  width: 4.5625rem;
  z-index: 18;
}
#element-49 .cropped {
  background: url(images/57983821-0-free.png) 0 -0.0625rem / 4.5625rem 4.375rem;
}
#element-27 {
  top: 60.0625rem;
  left: 3.1875rem;
  height: 1.8125rem;
  width: 18.25rem;
  z-index: 16;
  color: #37465a;
  font-size: 1.1146rem;
  line-height: 1.8rem;
  text-align: center;
}
#element-27 .x_e6507cf2 {
  text-align: center;
  line-height: 1.8125rem;
  font-size: 1.1146rem;
}
#element-27 .x_7b2817bf {
  color: #000000;
}
#element-33 {
  top: 62.5rem;
  left: 3.1875rem;
  height: 6.5rem;
  width: 18.25rem;
  z-index: 17;
  color: #37465a;
  font-size: 0.9907rem;
  line-height: 1.6rem;
  text-align: center;
}
#element-33 .x_dc68832a {
  text-align: center;
  line-height: 1.625rem;
  font-size: 0.9907rem;
}
#element-33 .x_7b2817bf {
  color: #000000;
}
#element-36 {
  top: 73.6875rem;
  left: 9.0625rem;
  height: 5.8125rem;
  width: 5.8125rem;
  z-index: 21;
}
#element-36 .shape {
  border: 0;
  background: rgb(30, 30, 30);
}
#element-51 {
  top: 74.9375rem;
  left: 9.75rem;
  height: 4.0015rem;
  width: 4.5625rem;
  z-index: 24;
}
#element-51 .cropped {
  background: url(images/57983826-0-heart.png) 0 -0.125rem / 4.625rem 4.25rem;
}
#element-32 {
  top: 80.875rem;
  left: 3.1875rem;
  height: 3.0625rem;
  width: 18.25rem;
  z-index: 23;
  color: #37465a;
  font-size: 1.1146rem;
  line-height: 1.575rem;
  text-align: center;
}
#element-32 .x_bcbce646 {
  text-align: center;
  line-height: 1.5625rem;
  font-size: 1.1146rem;
}
#element-32 .x_7b2817bf {
  color: #000000;
}
#element-30 {
  top: 83.0625rem;
  left: 3.1875rem;
  height: 8.125rem;
  width: 18.25rem;
  z-index: 22;
  color: #37465a;
  font-size: 0.9907rem;
  line-height: 1.6rem;
  text-align: center;
}
#element-30 .x_dc68832a {
  text-align: center;
  line-height: 1.625rem;
  font-size: 0.9907rem;
}
#element-30 .x_7b2817bf {
  color: #000000;
}
#element-37 {
  top: 31.5625rem;
  left: 9.875rem;
  height: 4.5625rem;
  width: 4.5625rem;
  z-index: 12;
}
#element-35 {
  top: 38.3125rem;
  left: 3.25rem;
  height: 1.5625rem;
  width: 18.25rem;
  z-index: 10;
  color: #37465a;
  font-size: 1.1146rem;
  line-height: 1.575rem;
  text-align: center;
}
#element-35 .x_bcbce646 {
  text-align: center;
  line-height: 1.5625rem;
  font-size: 1.1146rem;
}
#element-35 .x_7b2817bf {
  color: #000000;
}
#element-31 {
  top: 40.5rem;
  left: 3.25rem;
  height: 6.5rem;
  width: 18.25rem;
  z-index: 11;
  color: #37465a;
  font-size: 0.9907rem;
  line-height: 1.6rem;
  text-align: center;
}
#element-31 .x_dc68832a {
  text-align: center;
  line-height: 1.625rem;
  font-size: 0.9907rem;
}
#element-31 .x_7b2817bf {
  color: #000000;
}
#page-block-6i8opcv8uwj {
  height: 73.125rem;
  max-width: 100%;
}
#page-block-6i8opcv8uwj .section-holder-border {
  border: 0;
}
#page-block-6i8opcv8uwj .section-block {
  background: url(images/57984006-0-journey.jpg) repeat rgb(30, 30, 30) 58% 33% /
    cover;
  height: 73.125rem;
}
#page-block-6i8opcv8uwj .section-holder-overlay {
  opacity: 0.88;
  background-color: #000000;
  display: block;
}
#element-62 {
  top: 3.3125rem;
  left: 0.6875rem;
  height: 1.0625rem;
  width: 22.5rem;
  z-index: 13;
  color: #37465a;
  font-size: 0.743rem;
  line-height: 1.05rem;
  text-align: center;
}
#element-62 .x_25a5a462 {
  text-align: center;
  line-height: 1.0625rem;
  font-size: 0.743rem;
}
#element-62 .x_e6c99e4f {
  color: #f9d84c;
}
#element-63 {
  top: 5rem;
  left: 0.6875rem;
  height: 2.25rem;
  width: 22.5rem;
  z-index: 14;
  color: #37465a;
  font-size: 1.6099rem;
  line-height: 2.275rem;
  text-align: center;
}
#element-63 .x_47b745f5 {
  text-align: center;
  line-height: 2.25rem;
  font-size: 1.6099rem;
}
#element-63 .x_f2074b6c {
  color: #ffffff;
}
#element-70 {
  top: 11.5rem;
  left: 10.25rem;
  height: 3.3125rem;
  width: 3.3125rem;
  z-index: 33;
}
#element-70 .shape {
  border: 0;
  background: rgb(240, 243, 245);
}
#element-71 {
  top: 11.9375rem;
  left: 10.75rem;
  height: 2.375rem;
  width: 2.3125rem;
  z-index: 34;
  color: #37465a;
  font-size: 1.4861rem;
  line-height: 2.4rem;
  text-align: center;
}
#element-71 .x_8c17219a {
  text-align: center;
  line-height: 2.375rem;
  font-size: 1.4861rem;
}
#element-71 .x_190a7a83 {
  text-align: center;
  line-height: 2.375rem;
  font-size: 1.4861rem;
}
#element-65 {
  top: 16rem;
  left: 0.625rem;
  height: 1.125rem;
  width: 22.5rem;
  z-index: 27;
  color: #37465a;
  font-size: 1.1146rem;
  line-height: 1.125rem;
  text-align: center;
}
#element-65 .x_983f73d3 {
  text-align: center;
  line-height: 1.125rem;
  font-size: 1.1146rem;
}
#element-65 .x_e6c99e4f {
  color: #f9d84c;
}
#element-84 {
  top: 28.4375rem;
  left: 29.25rem;
  height: 41.9375rem;
  width: 1.3125rem;
  z-index: 28;
}
#element-84 .shape {
  border-right: 1px solid #a3bac6;
}
#element-64 {
  top: 17.8125rem;
  left: 3.75rem;
  height: 9.75rem;
  width: 17.6875rem;
  z-index: 26;
  color: #37465a;
  font-size: 0.9907rem;
  line-height: 1.6rem;
  text-align: left;
}
#element-64 .x_fae6260b {
  text-align: left;
  line-height: 1.625rem;
  font-size: 0.9907rem;
}
#element-64 .x_f2074b6c {
  color: #ffffff;
}
#element-66 {
  top: 32.25rem;
  left: 10.25rem;
  height: 3.3125rem;
  width: 3.3125rem;
  z-index: 29;
}
#element-66 .shape {
  border: 0;
  background: rgb(240, 243, 245);
}
#element-67 {
  top: 32.6875rem;
  left: 10.75rem;
  height: 2.375rem;
  width: 2.3125rem;
  z-index: 30;
  color: #37465a;
  font-size: 1.4861rem;
  line-height: 2.4rem;
  text-align: center;
}
#element-67 .x_8c17219a {
  text-align: center;
  line-height: 2.375rem;
  font-size: 1.4861rem;
}
#element-67 .x_190a7a83 {
  text-align: center;
  line-height: 2.375rem;
  font-size: 1.4861rem;
}
#element-77 {
  top: 36.8125rem;
  left: 0.625rem;
  height: 1.125rem;
  width: 22.5rem;
  z-index: 36;
  color: #37465a;
  font-size: 1.1146rem;
  line-height: 1.125rem;
  text-align: center;
}
#element-77 .x_983f73d3 {
  text-align: center;
  line-height: 1.125rem;
  font-size: 1.1146rem;
}
#element-77 .x_e6c99e4f {
  color: #f9d84c;
}
#element-76 {
  top: 39rem;
  left: 3.75rem;
  height: 11.375rem;
  width: 17.6875rem;
  z-index: 35;
  color: #37465a;
  font-size: 0.9907rem;
  line-height: 1.6rem;
  text-align: left;
}
#element-76 .x_fae6260b {
  text-align: left;
  line-height: 1.625rem;
  font-size: 0.9907rem;
}
#element-76 .x_f2074b6c {
  color: #ffffff;
}
#element-68 {
  top: 54.375rem;
  left: 10.25rem;
  height: 3.375rem;
  width: 3.375rem;
  z-index: 31;
}
#element-68 .shape {
  border: 0;
  background: rgb(240, 243, 245);
}
#element-69 {
  top: 54.875rem;
  left: 10.75rem;
  height: 2.5rem;
  width: 2.3125rem;
  z-index: 32;
  color: #37465a;
  font-size: 1.548rem;
  line-height: 2.5rem;
  text-align: center;
}
#element-69 .x_411b510b {
  text-align: center;
  line-height: 2.5rem;
  font-size: 1.548rem;
}
#element-69 .x_84679fb3 {
  text-align: center;
  line-height: 2.5rem;
  font-size: 1.548rem;
}
#element-79 {
  top: 59.0625rem;
  left: 0.625rem;
  height: 1.375rem;
  width: 22.5rem;
  z-index: 38;
  color: #37465a;
  font-size: 1.1146rem;
  line-height: 1.35rem;
  text-align: center;
}
#element-79 .x_efd3fa39 {
  text-align: center;
  line-height: 1.375rem;
  font-size: 1.1146rem;
}
#element-79 .x_e6c99e4f {
  color: #f9d84c;
}
#element-78 {
  top: 61.25rem;
  left: 3.75rem;
  height: 6.5rem;
  width: 17.6875rem;
  z-index: 37;
  color: #37465a;
  font-size: 0.9907rem;
  line-height: 1.6rem;
  text-align: left;
}
#element-78 .x_fae6260b {
  text-align: left;
  line-height: 1.625rem;
  font-size: 0.9907rem;
}
#element-78 .x_f2074b6c {
  color: #ffffff;
}
#page-block-kht5d7n9mp {
  height: 40.5625rem;
  max-width: 100%;
}
#page-block-kht5d7n9mp .section-holder-border {
  border: 0;
}
#page-block-kht5d7n9mp .section-block {
  background: url(images/57984211-0-backgroundlogo.jpg) no-repeat
    rgb(249, 216, 76) 65% 46% / auto;
  height: 40.5625rem;
}
#page-block-kht5d7n9mp .section-holder-overlay {
  opacity: 0.98;
  background-color: #f9d84c;
  display: block;
}
#element-95 {
  top: 3.25rem;
  left: 0.6875rem;
  height: 1.0625rem;
  width: 22.5rem;
  z-index: 25;
  color: #37465a;
  font-size: 0.743rem;
  line-height: 1.05rem;
  text-align: center;
}
#element-95 .x_25a5a462 {
  text-align: center;
  line-height: 1.0625rem;
  font-size: 0.743rem;
}
#element-95 .x_7b2817bf {
  color: #000000;
}
#element-91 {
  top: 4.75rem;
  left: 0.625rem;
  height: 4.5rem;
  width: 22.5rem;
  z-index: 19;
  color: #37465a;
  font-size: 1.6099rem;
  line-height: 2.275rem;
  text-align: center;
}
#element-91 .x_47b745f5 {
  text-align: center;
  line-height: 2.25rem;
  font-size: 1.6099rem;
}
#element-91 .x_7b2817bf {
  color: #000000;
}
#element-92 {
  top: 10.4375rem;
  left: 1.9375rem;
  height: 19.5rem;
  width: 19.875rem;
  z-index: 20;
  color: #37465a;
  font-size: 0.9907rem;
  line-height: 1.6rem;
  text-align: center;
}
#element-92 .x_dc68832a {
  text-align: center;
  line-height: 1.625rem;
  font-size: 0.9907rem;
}
#element-92 .x_7b2817bf {
  color: #000000;
}
#element-114 {
  top: 30.4375rem;
  left: 0.6875rem;
  height: 8.8604rem;
  width: 22.5rem;
  z-index: 43;
}
#page-block-fedr58tick4 {
  height: 19.25rem;
  max-width: 100%;
}
#page-block-fedr58tick4 .section-holder-border {
  border: 0;
}
#page-block-fedr58tick4 .section-block {
  background: rgb(26, 26, 26);
  height: 19.25rem;
}
#page-block-fedr58tick4 .section-holder-overlay {
  display: none;
}
#element-90 {
  top: 3.75rem;
  left: 1.1875rem;
  height: 8.5rem;
  width: 22.5rem;
  z-index: 40;
  color: #37465a;
  font-size: 1.4861rem;
  line-height: 2.1rem;
  text-align: center;
}
#element-90 .x_fc9d998b {
  text-align: center;
  line-height: 2.125rem;
  font-size: 1.4861rem;
}
#element-90 .x_f2074b6c {
  color: #ffffff;
}
#element-89 {
  top: 13.9375rem;
  left: 1.125rem;
  height: 1.375rem;
  width: 22.5rem;
  z-index: 39;
  color: #37465a;
  font-size: 0.9907rem;
  line-height: 1.4rem;
  text-align: center;
}
#element-89 .x_2c80ab57 {
  text-align: center;
  line-height: 1.375rem;
  font-size: 0.9907rem;
}
#element-89 .x_f2074b6c {
  color: #ffffff;
}
#page-block-0o41ympp5pc9 {
  height: 8.875rem;
  max-width: 100%;
}
#page-block-0o41ympp5pc9 .section-holder-border {
  border: 0;
}
#page-block-0o41ympp5pc9 .section-block {
  background: rgb(0, 0, 0);
  height: 8.875rem;
}
#page-block-0o41ympp5pc9 .section-holder-overlay {
  display: none;
}
#element-96 {
  top: 3.6875rem;
  left: 0;
  height: 1.375rem;
  width: 24.9375rem;
  z-index: 8;
  color: #37465a;
  font-size: 0.8669rem;
  line-height: 1.4rem;
  text-align: center;
}
#element-96 .x_938e8cfc {
  text-align: center;
  line-height: 1.375rem;
  font-size: 0.8669rem;
}
#element-96 .x_f2074b6c {
  color: #ffffff;
}
@media screen and (max-width: 400px) {
  :root {
    font-size: 4vw;
  }
  :root.js-text-scaling {
    font-size: var(--mobile-font-size);
  }

  #page-block-8ebj5wxjmle {
    height: 72rem;
  }

  #page-block-5gsgppva3tn {
    height: 82.1875rem;
  }

  #element-29 {
    top: 6.375rem;
  }

  #element-34 {
    top: 15.5625rem;
  }

  #element-26 {
    top: 37.375rem;
  }

  #element-49 {
    top: 38.5625rem;
  }

  #element-27 {
    top: 45.0625rem;
  }

  #element-33 {
    top: 47.5rem;
  }

  #element-36 {
    top: 58.6875rem;
  }

  #element-51 {
    top: 59.9375rem;
  }

  #element-32 {
    top: 65.875rem;
  }

  #element-30 {
    top: 68.0625rem;
  }

  #element-37 {
    top: 16.5625rem;
  }

  #element-35 {
    top: 23.3125rem;
  }

  #element-31 {
    top: 25.5rem;
  }
}
@media screen and (min-width: 401px) and (max-width: 767px) {
  :root {
    font-size: 16px;
  }
  :root.js-text-scaling {
    font-size: var(--default-font-size);
  }

  #page-block-8ebj5wxjmle {
    height: 72rem;
  }

  #page-block-5gsgppva3tn {
    height: 82.1875rem;
  }

  #element-29 {
    top: 6.375rem;
  }

  #element-34 {
    top: 15.5625rem;
  }

  #element-26 {
    top: 37.375rem;
  }

  #element-49 {
    top: 38.5625rem;
  }

  #element-27 {
    top: 45.0625rem;
  }

  #element-33 {
    top: 47.5rem;
  }

  #element-36 {
    top: 58.6875rem;
  }

  #element-51 {
    top: 59.9375rem;
  }

  #element-32 {
    top: 65.875rem;
  }

  #element-30 {
    top: 68.0625rem;
  }

  #element-37 {
    top: 16.5625rem;
  }

  #element-35 {
    top: 23.3125rem;
  }

  #element-31 {
    top: 25.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  :root {
    font-size: 1.33vw;
  }
}
@media screen and (max-width: 767px) {
  .hidden-mobile {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .section-fit {
    max-width: 60rem;
  }
  #page-block-8ebj5wxjmle {
    height: 60.3125rem;
    max-width: 100%;
  }
  #page-block-8ebj5wxjmle .section-holder-border {
    border: 0;
  }
  #page-block-8ebj5wxjmle .section-block {
    background: url(images/57983001-0-background-banner.jpg) repeat
      rgb(19, 19, 19) 50% 50% / cover;
    height: 60.3125rem;
  }
  #page-block-8ebj5wxjmle .section-holder-overlay {
    opacity: 0.68;
    background-color: #000000;
    display: block;
  }
  #element-99 {
    top: 2.125rem;
    left: -0.25rem;
    height: 1.8125rem;
    width: 9rem;
    z-index: 41;
  }
  #element-99 .cropped {
    background: url(images/57983061-0-clevrsuntext.white..png) 0 0 / 9.0625rem
      2.0625rem;
  }
  #element-113 {
    top: 7.5625rem;
    left: 34.375rem;
    height: 27.25rem;
    width: 31.3125rem;
    z-index: 42;
  }
  #element-5 {
    top: 10.3125rem;
    left: 0;
    height: 1.1875rem;
    width: 28.625rem;
    z-index: 4;
    color: #37465a;
    font-size: 0.743rem;
    line-height: 1.2rem;
    text-align: left;
  }
  #element-5 .x_e881aefe {
    text-align: left;
    line-height: 1.1875rem;
    font-size: 0.743rem;
  }
  #element-5 .x_e6c99e4f {
    color: #f9d84c;
  }
  #element-9 {
    top: 11.25rem;
    left: 36.125rem;
    height: 1.8125rem;
    width: 20.0625rem;
    z-index: 7;
    color: #37465a;
    font-size: 1.4861rem;
    line-height: 1.8rem;
    text-align: left;
  }
  #element-9 .x_b6ee196c {
    text-align: left;
    line-height: 1.8125rem;
    font-size: 1.4861rem;
  }
  #element-9 .x_e33f2b34 {
    color: #181b31;
  }
  #element-6 {
    top: 12.125rem;
    left: 0;
    height: 5.75rem;
    width: 28.625rem;
    z-index: 3;
    color: #37465a;
    font-size: 2.3529rem;
    line-height: 2.85rem;
    text-align: left;
  }
  #element-6 .x_abeb1804 {
    text-align: left;
    line-height: 2.875rem;
    font-size: 2.3529rem;
  }
  #element-6 .x_f2074b6c {
    color: #ffffff;
  }
  #element-7 {
    top: 19.375rem;
    left: 0.25rem;
    height: 4.875rem;
    width: 28.625rem;
    z-index: 5;
    color: #37465a;
    font-size: 0.9907rem;
    line-height: 1.6rem;
    text-align: left;
  }
  #element-7 .x_fae6260b {
    text-align: left;
    line-height: 1.625rem;
    font-size: 0.9907rem;
  }
  #element-7 .x_f2074b6c {
    color: #ffffff;
  }
  #page-block-5gsgppva3tn {
    height: 41.1875rem;
    max-width: 100%;
  }
  #page-block-5gsgppva3tn .section-holder-border {
    border: 0;
  }
  #page-block-5gsgppva3tn .section-block {
    background: url(images/57983786-0-sun-background.jpg) repeat
      rgb(249, 216, 76) 50% 50% / cover;
    height: 41.1875rem;
  }
  #page-block-5gsgppva3tn .section-holder-overlay {
    opacity: 0.89;
    background-color: #f9d84c;
    display: block;
  }
  #element-29 {
    top: 8.125rem;
    left: 0;
    height: 2.875rem;
    width: 59.9375rem;
    z-index: 6;
    color: #37465a;
    font-size: 2.3529rem;
    line-height: 2.85rem;
    text-align: center;
  }
  #element-29 .x_b614627d {
    text-align: center;
    line-height: 2.875rem;
    font-size: 2.3529rem;
  }
  #element-29 .x_7b2817bf {
    color: #000000;
  }
  #element-34 {
    top: 14.75rem;
    left: 4.9375rem;
    height: 8.375rem;
    width: 8.375rem;
    z-index: 9;
  }
  #element-34 .shape {
    border: 0;
    background: rgb(30, 30, 30);
  }
  #element-26 {
    top: 14.75rem;
    left: 25.8125rem;
    height: 8.375rem;
    width: 8.375rem;
    z-index: 15;
  }
  #element-26 .shape {
    border: 0;
    background: rgb(30, 30, 30);
  }
  #element-49 {
    top: 16.4375rem;
    left: 26.9375rem;
    height: 5.8125rem;
    width: 6.0625rem;
    z-index: 18;
  }
  #element-49 .cropped {
    background: url(images/57983821-0-free.png) 0 -0.0625rem / 6.0625rem 5.9375rem;
  }
  #element-27 {
    top: 24.375rem;
    left: 20.875rem;
    height: 1.375rem;
    width: 18.25rem;
    z-index: 16;
    color: #37465a;
    font-size: 1.1146rem;
    line-height: 1.35rem;
    text-align: center;
  }
  #element-27 .x_efd3fa39 {
    text-align: center;
    line-height: 1.375rem;
    font-size: 1.1146rem;
  }
  #element-27 .x_7b2817bf {
    color: #000000;
  }
  #element-33 {
    top: 27rem;
    left: 20.875rem;
    height: 6.5rem;
    width: 18.25rem;
    z-index: 17;
    color: #37465a;
    font-size: 0.9907rem;
    line-height: 1.6rem;
    text-align: center;
  }
  #element-33 .x_dc68832a {
    text-align: center;
    line-height: 1.625rem;
    font-size: 0.9907rem;
  }
  #element-33 .x_7b2817bf {
    color: #000000;
  }
  #element-36 {
    top: 14.75rem;
    left: 46.625rem;
    height: 8.375rem;
    width: 8.375rem;
    z-index: 21;
  }
  #element-36 .shape {
    border: 0;
    background: rgb(30, 30, 30);
  }
  #element-51 {
    top: 16.125rem;
    left: 47rem;
    height: 6.6875rem;
    width: 7.5625rem;
    z-index: 24;
  }
  #element-51 .cropped {
    background: url(images/57983826-0-heart.png) 0 -0.1875rem / 7.625rem 7.125rem;
  }
  #element-32 {
    top: 24.375rem;
    left: 41.6875rem;
    height: 2.75rem;
    width: 18.25rem;
    z-index: 23;
    color: #37465a;
    font-size: 1.1146rem;
    line-height: 1.35rem;
    text-align: center;
  }
  #element-32 .x_efd3fa39 {
    text-align: center;
    line-height: 1.375rem;
    font-size: 1.1146rem;
  }
  #element-32 .x_7b2817bf {
    color: #000000;
  }
  #element-30 {
    top: 27rem;
    left: 41.6875rem;
    height: 8.125rem;
    width: 18.25rem;
    z-index: 22;
    color: #37465a;
    font-size: 0.9907rem;
    line-height: 1.6rem;
    text-align: center;
  }
  #element-30 .x_dc68832a {
    text-align: center;
    line-height: 1.625rem;
    font-size: 0.9907rem;
  }
  #element-30 .x_7b2817bf {
    color: #000000;
  }
  #element-37 {
    top: 16.125rem;
    left: 5.625rem;
    height: 6.5rem;
    width: 6.5rem;
    z-index: 12;
  }
  #element-35 {
    top: 24.375rem;
    left: 0;
    height: 1.375rem;
    width: 18.3125rem;
    z-index: 10;
    color: #37465a;
    font-size: 1.1146rem;
    line-height: 1.35rem;
    text-align: center;
  }
  #element-35 .x_efd3fa39 {
    text-align: center;
    line-height: 1.375rem;
    font-size: 1.1146rem;
  }
  #element-35 .x_7b2817bf {
    color: #000000;
  }
  #element-31 {
    top: 27rem;
    left: 0;
    height: 6.5rem;
    width: 18.3125rem;
    z-index: 11;
    color: #37465a;
    font-size: 0.9907rem;
    line-height: 1.6rem;
    text-align: center;
  }
  #element-31 .x_dc68832a {
    text-align: center;
    line-height: 1.625rem;
    font-size: 0.9907rem;
  }
  #element-31 .x_7b2817bf {
    color: #000000;
  }
  #page-block-6i8opcv8uwj {
    height: 51.0625rem;
    max-width: 100%;
  }
  #page-block-6i8opcv8uwj .section-holder-border {
    border: 0;
  }
  #page-block-6i8opcv8uwj .section-block {
    background: url(images/57984006-0-journey.jpg) repeat rgb(30, 30, 30) 58%
      33% / cover;
    height: 51.0625rem;
  }
  #page-block-6i8opcv8uwj .section-holder-overlay {
    opacity: 0.9;
    background-color: #000000;
    display: block;
  }
  #element-62 {
    top: 6.3125rem;
    left: 0;
    height: 1.1875rem;
    width: 59.9375rem;
    z-index: 13;
    color: #37465a;
    font-size: 0.743rem;
    line-height: 1.2rem;
    text-align: center;
  }
  #element-62 .x_01475da3 {
    text-align: center;
    line-height: 1.1875rem;
    font-size: 0.743rem;
  }
  #element-62 .x_e6c99e4f {
    color: #f9d84c;
  }
  #element-63 {
    top: 8.125rem;
    left: 0;
    height: 2.875rem;
    width: 59.9375rem;
    z-index: 14;
    color: #37465a;
    font-size: 2.3529rem;
    line-height: 2.85rem;
    text-align: center;
  }
  #element-63 .x_b614627d {
    text-align: center;
    line-height: 2.875rem;
    font-size: 2.3529rem;
  }
  #element-63 .x_f2074b6c {
    color: #ffffff;
  }
  #element-70 {
    top: 15.4375rem;
    left: 28.3125rem;
    height: 3.3125rem;
    width: 3.3125rem;
    z-index: 33;
  }
  #element-70 .shape {
    border: 0;
    background: rgb(240, 243, 245);
  }
  #element-71 {
    top: 15.875rem;
    left: 28.8125rem;
    height: 2.4375rem;
    width: 2.3125rem;
    z-index: 34;
    color: #37465a;
    font-size: 1.4861rem;
    line-height: 2.4rem;
    text-align: center;
  }
  #element-71 .x_3c5367a7 {
    text-align: center;
    line-height: 2.4375rem;
    font-size: 1.4955rem;
  }
  #element-71 .x_3353fbb8 {
    text-align: center;
    line-height: 2.4375rem;
    font-size: 1.4955rem;
  }
  #element-65 {
    top: 16.4375rem;
    left: 34.25rem;
    height: 1.375rem;
    width: 25.6875rem;
    z-index: 27;
    color: #37465a;
    font-size: 1.1146rem;
    line-height: 1.35rem;
    text-align: left;
  }
  #element-65 .x_da6ad2be {
    text-align: left;
    line-height: 1.375rem;
    font-size: 1.1146rem;
  }
  #element-65 .x_e6c99e4f {
    color: #f9d84c;
  }
  #element-84 {
    top: 17.0625rem;
    left: 29.25rem;
    height: 21rem;
    width: 1.3125rem;
    z-index: 28;
  }
  #element-84 .shape {
    border-right: 1px solid #a3bac6;
  }
  #element-64 {
    top: 19.0625rem;
    left: 34.25rem;
    height: 6.5rem;
    width: 25.6875rem;
    z-index: 26;
    color: #37465a;
    font-size: 0.9907rem;
    line-height: 1.6rem;
    text-align: left;
  }
  #element-64 .x_fae6260b {
    text-align: left;
    line-height: 1.625rem;
    font-size: 0.9907rem;
  }
  #element-64 .x_f2074b6c {
    color: #ffffff;
  }
  #element-66 {
    top: 26rem;
    left: 28.3125rem;
    height: 3.3125rem;
    width: 3.3125rem;
    z-index: 29;
  }
  #element-66 .shape {
    border: 0;
    background: rgb(240, 243, 245);
  }
  #element-67 {
    top: 26.4375rem;
    left: 28.8125rem;
    height: 2.4375rem;
    width: 2.3125rem;
    z-index: 30;
    color: #37465a;
    font-size: 1.4955rem;
    line-height: 2.4152rem;
    text-align: center;
  }
  #element-67 .x_3c5367a7 {
    text-align: center;
    line-height: 2.4375rem;
    font-size: 1.4955rem;
  }
  #element-67 .x_3353fbb8 {
    text-align: center;
    line-height: 2.4375rem;
    font-size: 1.4955rem;
  }
  #element-77 {
    top: 27rem;
    left: 0;
    height: 1.375rem;
    width: 25.6875rem;
    z-index: 36;
    color: #37465a;
    font-size: 1.1146rem;
    line-height: 1.35rem;
    text-align: right;
  }
  #element-77 .x_6f8d78f4 {
    text-align: right;
    line-height: 1.375rem;
    font-size: 1.1146rem;
  }
  #element-77 .x_e6c99e4f {
    color: #f9d84c;
  }
  #element-76 {
    top: 29.625rem;
    left: 0.0625rem;
    height: 6.5rem;
    width: 25.6875rem;
    z-index: 35;
    color: #37465a;
    font-size: 0.9907rem;
    line-height: 1.6rem;
    text-align: right;
  }
  #element-76 .x_bb1de03d {
    text-align: right;
    line-height: 1.625rem;
    font-size: 0.9907rem;
  }
  #element-76 .x_f2074b6c {
    color: #ffffff;
  }
  #element-68 {
    top: 36.4375rem;
    left: 28.3125rem;
    height: 3.375rem;
    width: 3.375rem;
    z-index: 31;
  }
  #element-68 .shape {
    border: 0;
    background: rgb(240, 243, 245);
  }
  #element-69 {
    top: 36.8125rem;
    left: 28.8125rem;
    height: 2.4375rem;
    width: 2.3125rem;
    z-index: 32;
    color: #37465a;
    font-size: 1.5237rem;
    line-height: 2.4608rem;
    text-align: center;
  }
  #element-69 .x_0b47bb55 {
    text-align: center;
    line-height: 2.4375rem;
    font-size: 1.5237rem;
  }
  #element-69 .x_96ef8238 {
    text-align: center;
    line-height: 2.4375rem;
    font-size: 1.5237rem;
  }
  #element-79 {
    top: 37.3125rem;
    left: 34.25rem;
    height: 1.375rem;
    width: 25.6875rem;
    z-index: 38;
    color: #37465a;
    font-size: 1.1146rem;
    line-height: 1.35rem;
    text-align: left;
  }
  #element-79 .x_da6ad2be {
    text-align: left;
    line-height: 1.375rem;
    font-size: 1.1146rem;
  }
  #element-79 .x_e6c99e4f {
    color: #f9d84c;
  }
  #element-78 {
    top: 39.9375rem;
    left: 34.25rem;
    height: 4.875rem;
    width: 25.6875rem;
    z-index: 37;
    color: #37465a;
    font-size: 0.9907rem;
    line-height: 1.6rem;
    text-align: left;
  }
  #element-78 .x_fae6260b {
    text-align: left;
    line-height: 1.625rem;
    font-size: 0.9907rem;
  }
  #element-78 .x_f2074b6c {
    color: #ffffff;
  }
  #page-block-kht5d7n9mp {
    height: 32.75rem;
    max-width: 100%;
  }
  #page-block-kht5d7n9mp .section-holder-border {
    border: 0;
  }
  #page-block-kht5d7n9mp .section-block {
    background: url(images/57984211-0-backgroundlogo.jpg) no-repeat
      rgb(249, 216, 76) 65% 46% / auto;
    height: 32.75rem;
  }
  #page-block-kht5d7n9mp .section-holder-overlay {
    opacity: 0.98;
    background-color: #f9d84c;
    display: block;
  }
  #element-95 {
    top: 6.25rem;
    left: 0;
    height: 1.1875rem;
    width: 59.9375rem;
    z-index: 25;
    color: #37465a;
    font-size: 0.743rem;
    line-height: 1.2rem;
    text-align: center;
  }
  #element-95 .x_01475da3 {
    text-align: center;
    line-height: 1.1875rem;
    font-size: 0.743rem;
  }
  #element-95 .x_7b2817bf {
    color: #000000;
  }
  #element-91 {
    top: 8.0625rem;
    left: 0;
    height: 2.875rem;
    width: 59.9375rem;
    z-index: 19;
    color: #37465a;
    font-size: 2.3529rem;
    line-height: 2.85rem;
    text-align: center;
  }
  #element-91 .x_b614627d {
    text-align: center;
    line-height: 2.875rem;
    font-size: 2.3529rem;
  }
  #element-91 .x_7b2817bf {
    color: #000000;
  }
  #element-92 {
    top: 12.1875rem;
    left: 0;
    height: 6.5rem;
    width: 59.9375rem;
    z-index: 20;
    color: #37465a;
    font-size: 0.9907rem;
    line-height: 1.6rem;
    text-align: center;
  }
  #element-92 .x_dc68832a {
    text-align: center;
    line-height: 1.625rem;
    font-size: 0.9907rem;
  }
  #element-92 .x_7b2817bf {
    color: #000000;
  }
  #element-114 {
    top: 20.625rem;
    left: 15.1875rem;
    height: 10.3125rem;
    width: 26.1875rem;
    z-index: 43;
  }
  #page-block-fedr58tick4 {
    height: 22.4375rem;
    max-width: 100%;
  }
  #page-block-fedr58tick4 .section-holder-border {
    border: 0;
  }
  #page-block-fedr58tick4 .section-block {
    background: rgb(26, 26, 26);
    height: 22.4375rem;
  }
  #page-block-fedr58tick4 .section-holder-overlay {
    display: none;
  }
  #element-90 {
    top: 6.25rem;
    left: 0;
    height: 5.75rem;
    width: 59.9375rem;
    z-index: 40;
    color: #37465a;
    font-size: 2.3529rem;
    line-height: 2.85rem;
    text-align: center;
  }
  #element-90 .x_b614627d {
    text-align: center;
    line-height: 2.875rem;
    font-size: 2.3529rem;
  }
  #element-90 .x_f2074b6c {
    color: #ffffff;
  }
  #element-89 {
    top: 14.5rem;
    left: 0;
    height: 1.625rem;
    width: 59.9375rem;
    z-index: 39;
    color: #37465a;
    font-size: 0.9907rem;
    line-height: 1.6rem;
    text-align: center;
  }
  #element-89 .x_dc68832a {
    text-align: center;
    line-height: 1.625rem;
    font-size: 0.9907rem;
  }
  #element-89 .x_f2074b6c {
    color: #ffffff;
  }
  #page-block-0o41ympp5pc9 {
    height: 5.0625rem;
    max-width: 100%;
  }
  #page-block-0o41ympp5pc9 .section-holder-border {
    border: 0;
  }
  #page-block-0o41ympp5pc9 .section-block {
    background: rgb(0, 0, 0);
    height: 5.0625rem;
  }
  #page-block-0o41ympp5pc9 .section-holder-overlay {
    display: none;
  }
  #element-96 {
    top: 1.5625rem;
    left: 19.0625rem;
    height: 1.375rem;
    width: 21.875rem;
    z-index: 8;
    color: #37465a;
    font-size: 0.8669rem;
    line-height: 1.4rem;
    text-align: center;
  }
  #element-96 .x_938e8cfc {
    text-align: center;
    line-height: 1.375rem;
    font-size: 0.8669rem;
  }
  #element-96 .x_f2074b6c {
    color: #ffffff;
  }
}
